header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 9, 23);
    padding-top: 3em;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    a {
        color: rgb(196, 196, 196);
        text-decoration: none;
    }
    .dashHeader {
        width: 0%;
        height: 2px;
        transform: scaleX(0%);
        transition: all 3s ease;    
    }
    p {
        &:hover {
            .dashHeader{
                width: 100%;
                transform: scaleX(90%);
                transition: transform 1s ease;
                transform-origin: left;
                background: #e4aa48;
            }
        }
    }
}

