.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    a{
        text-decoration: none;
        color: #dadada;
        display: flex;
        justify-content: flex-start;
    } 
    .dashHeader {
        width: 0%;
        height: 2px;
        transform: scaleX(0%);
        transition: all 3s ease;    
    }
    p {
        &:hover {
            .dashHeader{
                width: 100%;
                transform: scaleX(90%);
                transition: transform 1s ease;
                transform-origin: left;
                background: #e4aa48;
            }
        }
    }
}

.cv_download {
        background-color: #e4aa48;
        color: rgb(0, 0, 82);
        padding: 10px;
        text-decoration: none;
    a:hover {
        background-color: #ffc258;
        cursor: pointer;
    }
}